
      <tr>
        <td>
          <p>
            <strong>Comment:</strong>
            <%= comment.body %>
          </p>
        </td>
        <td class='text-right'>
          <p>
            <strong>Commenter:</strong>
            <%= comment.commenter %>
          </p>
        </td>
        <td class='text-right'>
          <p>
            <%= link_to 'Destroy Comment', [comment.article, comment],
                         method: :delete,
                         data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </p>
        </td>

      </tr>
